@page
@model StockTrackerApp.Pages.IndexModel

<div class="container">
    @foreach (var stock in Model.Stocks)
    {
        <div class="card mb-3">
            <div class="card-body">
                <h4 class="card-title">@stock.Symbol</h4>
                <p class="card-text">@stock.Name</p>
            </div>
        </div>
    }
</div>
